{% extends 'products/base.html' %}

{% load static humanize %}


{% block css %}
<link rel="stylesheet" href="{% static 'css/product-info.css' %}">
{% endblock %}


{% block title %}

{{ title }}

{% endblock %}


{% block content %}

<div class="container">

    <main class="pt-5">

        <div class="row g-3">

            <div class="col-md-5 col-lg-5 order-md-first bg-light">

                <img class="img-fluid mx-auto d-block" alt="Responsive image" src="{{ product.image.url }}"> <!-- Product image -->

            </div>

            <div class="col-md-7 col-lg-7 ps-md-3 ps-lg-5">

                <h1 class="mb-0 h4"> {{ product.name }} </h1>

                <strong> {{ product.brand }} </strong>


                <hr>

                <br>


                <p> {{ product.description }} </p>
                <div class="row p-3">
                    <div class="col-6">
                        <label for="select">Rating</label>
                        <div class="rating">
                            <form method="POST" id="rating-form">
                            {% csrf_token %}
                                <input type="radio" name="rating" value="5" id="star5"><label for="star5"><i class="fas fa-star"></i></label>
                                <input type="radio" name="rating" value="4" id="star4"><label for="star4"><i class="fas fa-star"></i></label>
                                <input type="radio" name="rating" value="3" id="star3"><label for="star3"><i class="fas fa-star"></i></label>
                                <input type="radio" name="rating" value="2" id="star2"><label for="star2"><i class="fas fa-star"></i></label>
                                <input type="radio" name="rating" value="1" id="star1"><label for="star1"><i class="fas fa-star"></i></label>
                            </form>

                        </div>
                    </div>
                </div>



                <div class="">

                    <div class="col">

                        <div class="row p-3">

                            <div class="col-6"> Price  </div>

                            <div class="col-6 text-end"><span class="h4 fw-bold">${{ product.price|intcomma }}</span></div>

                        </div>

                    </div>

                    <div class="col">

                        <div class="row p-3">

                            <div class="col-6">


                                <label for="select">Size</label>

                                &nbsp;

                                <select id="select1">

                                    <option value="1">L</option>

                                    <option value="2">M</option>

                                    <option value="3">S</option>

                                    <option value="4">XL</option>


                                </select>

                            </div>

                            <div class="col-6">


                                <label for="select">Qty</label>

                                &nbsp;

                                <select id="select">

                                    <option value="1">1</option>

                                    <option value="2">2</option>

                                    <option value="3">3</option>

                                    <option value="4">4</option>

                                    <option value="4">5</option>

                                </select>


                            </div>
                            <br> <br>
                            <div class="col-3 text-left">

                                <button type="button" id="add-button" value="{{ product.id }}" class="btn btn-secondary btn-sm">

                                Add to cart

                                </button>


                            </div>

                        </div>

                    </div>

                </div>

            </div>

        </div>

    </main>

    <br>

</div>

<script>
    // Add button

    $(document).on('click', '#add-button', function(e){
        e.preventDefault();
        $.ajax({
           type: 'POST',
           url: '{% url 'cart:cart-add' %}',
           data: {
                product_id: $('#add-button').val(),
                product_size: $('#select1 option:selected').text(),
                product_quantity: $('#select option:selected').text(),
                csrfmiddlewaretoken: '{{ csrf_token }}',
                action: 'post'
           },

           success: function(json){
                //console.log(json)

                document.getElementById('cart-qty').textContent = json.qty


           },

           error: function(xhr, errmsg, err){

           }


        });
    })

</script>



{% endblock %}