{% extends 'products/base.html' %}

{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/password_change.css' %}">
{% endblock %}


{% block content %}

<!DOCTYPE html>
<html>
<head>
  <title>Password Change</title>
  <style>

  </style>
</head>
<body>
  <div class="container text-center">
    <h2>Password Change</h2>
    <form action="{% url 'user_account:password_change' %}" method="POST">
      {% csrf_token %}
      <label for="{{ form.old_password.id_for_label }}">Old Password:</label>
      {{ form.old_password }}

      <label for="{{ form.new_password1.id_for_label }}">New Password:</label>
      {{ form.new_password1 }}

      <label for="{{ form.password2.id_for_label }}">Confirm Password:</label>
      {{ form.new_password2 }}

      <input class="button" type="submit" value="Change Password">
    </form>
  </div>
</body>
</html>

{% endblock %}