body {
      background: white;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      background-size: cover;
      -o-background-size: cover;
}

a {
    color: black;
    text-decoration: none;

}

a:hover {
    color: grey;

}
