body {
     background: white;
     -webkit-background-size: cover;
     -moz-background-size: cover;
     background-size: cover;
     -o-background-size: cover;
     height: 120vh;
     font-family: Arial, sans-serif;
}

.container {
    box-shadow: 0 4px 8px rgba(1, 2, 0, 0.6);
}