body {
      background: white;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      background-size: cover;
      -o-background-size: cover;
      height: 45vh;
      font-family: Arial, sans-serif;
}
.container {
      max-width: 400px;
      height: 100px;
      margin: 0 auto;
      padding: 20px;
      margin-top: 150px;
      background-color: #fff;
      border-radius: 5px;
      box-shadow: 0 4px 8px rgba(1, 2, 0, 0.4);
}

h2 {
      text-align: center;
      margin-bottom: 30px;
}

input[type="password"] {
      width: 100%;
      padding: 10px;
      margin-bottom: 20px;
      border-radius: 5px;
      border: 1px solid #ccc;
      color: grey;
}

input[type="submit"] {
      width: 100%;
      padding: 10px;
      background-color: black;
      color: #fff;
      border: none;
      border-radius: 3px;
      cursor: pointer;
}

input[type="submit"]:hover {
      background-color: grey;
}

.button {
     color: grey:
}