body {
      background: white;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      background-size: cover;
      -o-background-size: cover;
}

.rating {
    unicode-bidi: bidi-override;
    direction: rtl;
}

.rating input {
    display: none;
}

.rating label {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin: 0;
    padding: 0;
    cursor: pointer;
    color: #ddd;
}

.rating {
    position: absolute;
    clip: rect(0, 20px, 20px, 0);
}

.rating :hover,
.rating :hover ~ label,
.rating :checked ~ label {
    color: #ffc107;
}